.contact-picture {
  background-color: #fbce47;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.contact-picture img {
  height: 200px;
  margin: 0 auto;
  display: flex;
  color: #1c1c1c;
}

/***GENERAL INFO AND PRESS****/

.info {
  background-color: #1c1c1c;
  max-width: 1700px;
  display: grid;
  align-items: baseline;
  padding-top: 100px;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto;
  height: 400px;
}

.general {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.general h1,
.general h2,
.contact h2 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: 300;
}

.general p,
.general a {
  text-decoration: underline 1px white;
}

.general a {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1em;
  letter-spacing: 1px;
  margin: 15px 0;
  text-decoration: underline;
}

.line {
  width: 50px;
  padding: 10px 0px;
}

.people {
  background-color: #988e7d;
  max-width: 1700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.contact-person {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 60px auto;
}

/*** TYPOGRAPHY ***/

.contact-person h3 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  color: #232323;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
}

.contact-person h4 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #232323;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-style: italic;
  margin: 0;
  font-weight: 500;
}

.contact-person p,
.contact-person a {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #232323;
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: underline;
}

/*** RESPONSIVE ****/

@media (max-width: 768px) {
  .people {
    grid-template-columns: 1fr 1fr;
  }

  .contact-picture img {
    height: 150px;
  }

  .info {
    padding: 50px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .people {
    grid-template-columns: 1fr;
  }

  .contact-picture img {
    height: 100px;
  }

  .info {
    grid-template-columns: 1fr;
    display: block;
  }
}
